body{
    background-color: #0C112B;
    color: white;
}
.login-div,.signup-div{
    border: 2px solid white;
    width: fit-content;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 15%;

}
a{
    color: white;
}

ul li{
    padding: 40px;
    display: inline;
    font-weight: bold;
    font-size: larger;
}